@import '../../../../assets/style/_variables.scss';

mat-card-content {
  margin-bottom: 0;
}

.align-right {
  text-align: right;
}

.quote-card {
  transition: 0.2s ease;

  .quote-date {
    font-size: x-large;
    color: $primary;
    font-weight: 200;
  }

  .quote-content {

  }

  .quote-content::before {
    content: open-quote;
  }

  .quote-content::after {
    content: close-quote;
  }

  .quote-author {
    font-style: italic;
    cursor: pointer;
  }

  .quote-author:hover {
    text-decoration: underline;
  }

  .quote-like {
    font-size: 20px;
  }
}

/*.quote-card:hover {
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
}*/
