<mat-card class="quote-card">
  <mat-card-content>
    <p *ngIf="displayDate" class="quote-date" [ngClass]="{'align-right': alignRight}">
      {{quote.date}}
    </p>
    <p class="quote-content">
      {{ quote.content }}
    </p>
    <p>
      <span class="quote-author">- {{quote.author?.name}}</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="accent" aria-label="Upvote">
      <mat-icon class="quote-like">favorite</mat-icon>
    </button>
    {{quote.upvote}}
  </mat-card-actions>
</mat-card>
