@import '../../../../assets/style/_variables.scss';

.carousel-container {
  position: relative;

  margin-bottom: $xbig-margin;
  padding: $big-padding;
  border-radius: $border-radius;
  min-height: 50px;

  max-width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  .quote-carousel-move {
    cursor: pointer;
    opacity: 0.2;
    transition: 0.2s ease;

  }

  .quote-carousel-move:hover {
    opacity: 0.9;
  }

  .carousel-quote-container {
    margin: 2em;
    
    .carousel-author {
      display: flex;
      justify-content: flex-start;
      margin-top: $xbig-margin;
      font-style: italic;
      cursor: pointer;
    }

    .carousel-author:hover {
      text-decoration: underline;
    }

    .carousel-quote {
      font-family: 'Roboto', 'Arial';
      line-height: 1.5em;
      font-size: 36px;
      font-weight: 300;
      quotes: "“" "”" "‘" "’";
    }

    .carousel-quote::before {
      content: open-quote;
    }

    .carousel-quote::after {
      content: close-quote;
    }
  }

}

.carousel-container:after {
  content: '';
  background-image: url('/assets/img/background-quote.jpg');
  // background-attachment: fixed;
  // background-size: contain;
  // décommenter pour faire du parallax
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: $border-radius;
}

@media screen and (min-width: 1024px) {
  .carousel-container {
    .carousel-quote-container {
      margin: 4em;
    }
  }
}
