<div class="admin-form mat-elevation-z1" [formGroup]="formGroup">

  <mat-form-field>
    <mat-label>{{ 'odoq.admin.author.detail.name.label' |translate}}</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <div class="checkbox-container">
    <mat-checkbox class="example-margin"
                  formControlName="fictional">{{ 'odoq.admin.author.detail.fictional.label' |translate}}</mat-checkbox>
  </div>

  <mat-form-field *ngIf="formGroup.controls['fictional'].value">
    <mat-label>{{ 'odoq.admin.author.detail.source.label' |translate}}</mat-label>
    <input matInput formControlName="source">
  </mat-form-field>

  <mat-form-field *ngIf="!formGroup.controls['fictional'].value">
    <mat-label>{{ 'odoq.admin.author.detail.function.label' |translate}}</mat-label>
    <input matInput formControlName="function">
  </mat-form-field>


</div>

<app-buttons-toolbar [isDirtyValid]="formGroup.valid && formGroup.dirty"
                     [isCreation]="isCreation"
                     (cancelEvent)="resetForm()"
                     (deleteEvent)="delete()"
                     (saveEvent)="save()"></app-buttons-toolbar>
