@import "_variables";

.spacer {
  flex: 1 1 auto;
}

.app-background {
  background-color: rgb(245 245 245 / 50%);
  padding-top: $xbig-margin;
  min-height: 80%;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
}

.logo-container {
  cursor: pointer;
  outline: none;
  line-height: 0;
  min-width: 30px;
  min-height: 30px;
}
