<div class="admin-container">

  <div class="admin-list">
    <app-datatable #datatable
                   [service]="themeService"
                   (selectedItemChanged)="navigateToDetail($event)"></app-datatable>
  </div>

  <div class="admin-actions">
    <button mat-icon-button aria-label="Add object" (click)="navigateToCreation()"
            [title]="'odoq.admin.quote.list.add' | translate">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="admin-detail">
    <router-outlet (activate)="handleRouteActivate($event)"></router-outlet>
  </div>
</div>
