<div class="admin-form mat-elevation-z1" [formGroup]="formGroup">

  <mat-form-field>
    <input type="text"
           [placeholder]="'odoq.admin.quote.detail.author.label' |translate"
           aria-label="Number"
           matInput
           formControlName="author"
           [matAutocomplete]="autoAuthor">
    <mat-autocomplete autoActiveFirstOption #autoAuthor="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let author of authors | async" [value]="author">
        {{author.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'odoq.admin.quote.detail.content.label' |translate}}</mat-label>
    <textarea matInput formControlName="content"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Source</mat-label>
    <input matInput formControlName="source">
  </mat-form-field>

  <mat-form-field>
    <input type="text"
           placeholder="Theme"
           aria-label="Number"
           matInput
           formControlName="themes"
           [matAutocomplete]="autoTheme">
    <mat-autocomplete autoActiveFirstOption #autoTheme="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let theme of themes | async" [value]="theme">
        {{theme.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div *ngIf="objet">
    {{ objet.upvote }}
    <mat-icon class="quote-upvote-icon">favorite</mat-icon>
  </div>

</div>

<app-buttons-toolbar [isDirtyValid]="formGroup.valid && formGroup.dirty"
                     [isCreation]="isCreation"
                     (cancelEvent)="resetForm()"
                     (deleteEvent)="delete()"
                     (saveEvent)="save()"></app-buttons-toolbar>
