@import '../../../assets/style/_variables.scss';

.quote-container {
  display: flex;

  .quote-actions{
display: flex;
    flex-direction: column;
  }

  .quote-list {
    flex: 30%;
  }

  .quote-detail {
    flex: 70%;
    margin-left: $xbig-margin;
  }
}
